---
	import TitleSection from './utilities/TitleSection.astro'
	import EmailAction from './utilities/EmailAction.astro'
	import Email from './icons/Email.astro'
	import Send from './icons/Send.astro'
	import Copy from './icons/Copy.astro'

	import AlertMessage from './utilities/AlertMessage.astro'
---

<footer class="w-full md:max-w-3xl mx-auto mt-8 p-4 relative">

	<TitleSection>
		<Email/> Email
	</TitleSection>

	<div class="flex items-center gap-1 mt-4">
		<input id="input" type="text" disabled="" class="bg-black/5 dark:bg-white/5 w-full py-1.5 px-3 rounded-lg grid place-items-center text-slate-600 dark:text-slate-300" value="justin.hv08@gmail.com">

		<div class="flex items-center gap-1">
			<EmailAction email='mailto:justin.hv08@gmail.com' text='Send me email' id='send-email'>
				<Send/>
			</EmailAction>

			<EmailAction email='justin.hv08@gmail.com' text='Copy email' id='copy-email'>
				<Copy/>
			</EmailAction>
		</div>
	</div>

	<AlertMessage/>
</footer>

<script>
	const $action = document.getElementById('copy-email') as HTMLAnchorElement;
	const $alert = document.getElementById('alert') as HTMLElement;
	const $input = document.getElementById('input') as HTMLInputElement;

	const copiarContenido = async () => {
	try {

		if(!$input.value) throw new Error('Error al copiar el email')

		await navigator.clipboard.writeText($input.value);
		$alert.textContent = 'Email se copio exitosamente';
		$alert.classList.add('bg-green-300', 'border-green-900', 'text-green-900');
		
	} catch (err) {
		console.error('Error al copiar: ', err);
		$alert.textContent = 'Error al copiar el Email';
		$alert.classList.remove('bg-green-300', 'border-green-900', 'text-green-900');
		$alert.classList.add('bg-red-300', 'border-red-900', 'text-red-900');
	}
}


	$action?.addEventListener('click',(e) => {
		e.preventDefault();

		copiarContenido();

		$alert.classList.remove('opacity-0', 'invisible');

		setTimeout(() => {
			if(!$alert.classList.contains('hidden')){
				$alert.classList.add('opacity-0', 'invisible');
			}
		},2000);
	})
	

	
</script>