---
interface Props {
	className?: string;
	variant?: 'default' | 'primary' | 'secondary';
}

const { className, variant = 'default' } = Astro.props;

const variants = {
	default: 'text-4xl',
	primary: '',
	secondary: '',
};
---

<h2 class={`${variants[variant]} ${className}`}>
	<slot />
</h2>
