---
import { toolkit } from "../../constants/toolkit";
import SectionHeading from "../molecules/SectionHeading.astro";
import ToolkitItem from "../molecules/ToolkitItem.astro";
---

<section id="toolkit" class="scroll-mt-10 pt-14" data-reveal>
	<SectionHeading title="Current toolkit" eyebrow="daily stack" />
	<ul class="grid grid-cols-4 gap-3 sm:grid-cols-7" aria-label="Herramientas actuales">
		{toolkit.map((item) => <ToolkitItem name={item.name} icon={item.icon} />)}
	</ul>
</section>
