---
import { projects } from "../../constants/projects";
import SectionHeading from "../molecules/SectionHeading.astro";
import WorkCard from "../molecules/WorkCard.astro";
---

<section id="projects" class="scroll-mt-10 pt-14" data-reveal>
	<SectionHeading title="Projects" eyebrow="hackathons" />
	<div>
		{projects.map((project) => <WorkCard {...project} />)}
	</div>
</section>
