---
import { selectedWork } from "../../constants/work";
import SectionHeading from "../molecules/SectionHeading.astro";
import WorkCard from "../molecules/WorkCard.astro";
---

<section id="work" class="scroll-mt-10 pt-14">
	<SectionHeading title="Work" eyebrow="selected builds" />
	<div>
		{selectedWork.map((item) => <WorkCard {...item} />)}
	</div>
</section>
