---
import { experiences } from "../../constants/experience";
import ExperienceCard from "../molecules/ExperienceCard.astro";
import SectionHeading from "../molecules/SectionHeading.astro";
---

<section id="experience" class="scroll-mt-10 pt-14" data-reveal>
	<SectionHeading title="Experience" eyebrow="selected roles" />
	<div>
		{experiences.map((experience) => <ExperienceCard {...experience} />)}
	</div>
</section>
