---
import { experiences } from "../../constants/experience";
import SectionHeading from "../molecules/SectionHeading.astro";
import WorkCard from "../molecules/WorkCard.astro";
---

<section id="experience" class="scroll-mt-10 pt-14" data-reveal>
	<SectionHeading title="Experience" eyebrow="selected roles" />
	<div>
		{experiences.map((experience) => <WorkCard {...experience} />)}
	</div>
</section>
