---
	import type { Technologies } from '../../types';
	import TechnologyItem from './TechnologyItem.astro';
	import Arrow from '../icons/Arrow.astro'

	interface Props {
		id: number
		title: string,
		url_demo: string 
		description: string
		technologies: Technologies[]
	}

	const {
		id,
		title,
		url_demo,
		description,
		technologies,
	} = Astro.props;

---

<a
	id={`${id}`}
	href={url_demo}
	target='_blank'
	rel='noreferrer'
	class='block group border-2 border-gray-300 hover:border-gray-400 dark:border-gray-700 dark:hover:border-gray-300/30 rounded-xl shadow_translate-transition hover:sm:shadow sm:hover:-translate-y-1 transition-all duration-300'>
	<article class='relative flex flex-col justify-between w-full py-6 px-7'>
		<h2 class='text-gray-700 dark:text-gray-200 text-lg font-bold'>{title}</h2>
		<p class='text-slate-700 dark:text-slate-200'>{description}</p>
		<div class='flex gap-3 mt-1.5 items-center'>
			{
				technologies.map(tech => <TechnologyItem {...tech}/>)
			}
		</div>

		<div class="group-hover:opacity-100 opacity-0 transition-all duration-300 absolute right-3 top-3">
			<Arrow/>
		</div>
	</article>
</a>
